.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, button{
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
button{
  background-color: #33cc22;
  cursor: pointer;
}
.upBtn{
  background-color: #22ddff;
  width: 100px;
  margin-right: 20px;
}
.delBtn {
  background-color: #cc3322;
  width: 100px;
}
hr {
  width: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.divAnchor{
  position: relative;
}